<div id="footer">
<div id="footer-links" class="content-wrapper">
<ul>
	<li><a href="/node/add/event" target="_top">Submit an Event</a></li>
	<li><a href="/mommy-poppins-business-listings-details">List Your Business</a></li>
	<li><a href="/advertise">Advertise with Us</a></li>
	<li><a href="/content/contact" target="_top">Contact</a></li>
	<li><a href="/about-mommy-poppins">About</a></li>
</ul>
<ul>
	<li><a href="/boston" target="_top">Boston</a></li>
	<li><a href="/connecticut" target="_top">Connecticut</a></li>
	<li><a href="/philadelphia" target="_top">Philadelphia</a></li>
	<li><a href="/los-angeles" target="_top">Los Angeles</a></li>
	<li><a href="/houston" target="_top">Houston</a></li>
</ul>

<ul>
	<li><a href="/new-york-city" target="_top">New York City</a></li>
	<li><a href="/long-island" target="_top">Long Island</a></li>
	<li><a href="/new-jersey" target="_top">New Jersey</a></li>
	<li><a href="/westchester" target="_top">Westchester</a></li>
</ul>
<ul>
	<li><a href="/events">Events</a></li>
	<li><a href="/directory">Directory</a></li>
	<li><a href="/us-travel">Family Travel</a></li>
	<li><a href="https://mommypoppins.us2.list-manage.com/subscribe?u=bdc1aa2618e8751c4b2b6acf6&id=51ccfd15a8&submit=Sign+Up" target="_blank">Newsletter Subscribe</a></li>
</ul>
</div>
<div class="copyright">© <span>{{ getYear }}</span> MommyPoppins. All Rights Reserved. | <a href="https://www.iubenda.com/privacy-policy/682124" target="_blank">Privacy Policy.</a> | <a href="/kids/terms-of-use">Terms of Use.</a> | Content property of MommyPoppins unless otherwise specified.</div>

</div>

